<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <div class="container">
      <header>
        <%include ./partials/_header %>
      </header>

        <div class="row">
          <div class="col-sm-3">
            <h4 class="inline">Tiny Url: <a href="/u/<%= link %>"><%= link %></a> <h4> 
          </div>
          <div class="col-sm-3">
            <div class="inline">Visits: <%= linkObject.visits.length %> </div>
          </div>
          <div class="col-sm-3">
            <div>visitors:  <%= unique %></div>
          </div>
          <div class="col-sm-3">
            <form method="POST" class="float-right" action="/urls/<%= link %>?_method=DELETE">
              <button class="btn btn-default btn-sm" type="submit">Delete Link</button>
            </form>
          </div>
        </div>



        <form action="/urls/<%= link %>?_method=PUT" method="POST" class="dark-blue form-control">
          <input id="longURL" type="text" name="longURL" value="<%= linkObject.fullLink  %>" style="width: 300px">
          <button type="submit" class="btn btn-primary btn-sm"> Change URL </button>
        </form>


        <h4> Visits </h4>

        <table class="table">
          <thead>
            <tr class="dark-blue">
              <th>Visitor</th>
              <th>Time</th>
            <tr>
          </thead>
          <tbody>
            <% linkObject.visits.forEach(function(visit) { %> 
              <tr>
                <td>
                  <%= visit.visitor %>
                </td>
                <td>
                  <%= visit.time %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>





        <ul>
        <% linkObject.visits.forEach(function(visit) { %> 
          <li>
          <%= visit.visitor %> - <%= visit.time %> 
          </li>
          <% }); %>
        </ul>
    </div>
  </body>
</html>