<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include ./partials/_header %>
    <h2>Links</h2>
    <ul>
    <% Object.keys(urlDatabase).forEach(function(link) { %> 
    <li>
    <a href="/u/<%= link %>">
    <%= link %> - <%= urlDatabase[link] %> 
    </a>
    &nbsp;&nbsp;
    <a href="/urls/<%= link %>">
    Edit Link
    </a>
    <form method="POST" action="/urls/<%= link %>/delete">
    <input type="submit" value="Delete">
    </form>
    </li>
    <% }); %>
    </ul>
</body>
</html>