<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
  <!-- Add your EJS code here -->
  <div class="container">
    <header>
      <%include ./partials/_header %>
    </header>
    <h2>Links</h2>
    <div>
      <a href="/urls/new"><button>Create New Link</button></a>
    </div>
    <ul>
      <% Object.keys(urlDatabase).forEach(function(link) { %> 
      <li>
        <a href="/u/<%= link %>">
          <%= link %> - <%= urlDatabase[link].fullLink %> (<%= urlDatabase[link].owner %>)
        </a>
        &nbsp;&nbsp;
        <a href="/urls/<%= link %>">
          Edit Link
        </a>
        <form method="POST" action="/urls/<%= link %>?_method=DELETE">
          <input type="submit" value="Delete">
        </form>
      </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>