<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
  <!-- Add your EJS code here -->
  <div class="container">
    <header>
      <%include ./partials/_header %>
    </header>
    <div>
      <h2 class="dark-blue index-header">My Links</h2>
      <a href="/urls/new" class="float-right"><button class="btn btn-success btn-sm">Create New Link</button></a>
    </div>
    <div class="card">
      <table class="table">
        <thead>
          <tr class="dark-blue">
            <th>Short link</th>
            <th>Full URL</th>
            <th>Created</th>
            <th>Visits</th>
            <th>Visitors</th>
            <th> Modify</th>
          <tr>
        </thead>
        <tbody>
        <% urlsForUser.forEach(function(link, index) { %> 
          <tr class="dark-blue">
            <td>
              <a href="/u/<%= link.shortLink %>" class="dark-blue">
                <%= link.shortLink %> 
              </a>
            </td>
            <td>
              <a href="/u/<%= link.shortLink %>" class="dark-blue">
                <%= link.fullLink %> 
              </a>
            </td>
            <td>
              <%= link.created %> 
            </td>
            <td>
              <%= link.visits.length %>
            </td>
            <td>
              <%= uniqueVisits[index] %>
            </td> 
            <td>
              <a href="/urls/<%= link.shortLink %>">
                <button class="btn btn-primary btn-sm"> Edit </button>
              </a>
              <form method="POST" action="/urls/<%= link.shortLink %>?_method=DELETE">
              <button type="submit" class="btn btn-default btn-sm"> Delete</button>
              </form>
            </td>
          <tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>